@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Bold.woff2') format('woff2'),
        url('../font/CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-BoldItalic.woff2') format('woff2'),
        url('../font/CormorantGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Italic.woff2') format('woff2'),
        url('../font/CormorantGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Light.woff2') format('woff2'),
        url('../font/CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('../font/CormorantGaramond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-MediumItalic.woff2') format('woff2'),
        url('../font/CormorantGaramond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Medium.woff2') format('woff2'),
        url('../font/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Regular.woff2') format('woff2'),
        url('../font/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('../font/CormorantGaramond-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('../font/CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Jost-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Italic.woff2') format('woff2'),
        url('../font/Jost-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-BlackItalic.woff2') format('woff2'),
        url('../font/Jost-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Jost-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-BoldItalic.woff2') format('woff2'),
        url('../font/Jost-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-MediumItalic.woff2') format('woff2'),
        url('../font/Jost-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraBold.woff2') format('woff2'),
        url('../font/Jost-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Regular.woff2') format('woff2'),
        url('../font/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Black.woff2') format('woff2'),
        url('../font/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Bold.woff2') format('woff2'),
        url('../font/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Jost-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Medium.woff2') format('woff2'),
        url('../font/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Thin.woff2') format('woff2'),
        url('../font/Jost-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Regular.woff2') format('woff2'),
        url('../font/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-SemiBold.woff2') format('woff2'),
        url('../font/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Light.woff2') format('woff2'),
        url('../font/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Italic.woff2') format('woff2'),
        url('../font/Jost-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-LightItalic.woff2') format('woff2'),
        url('../font/Jost-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraLight.woff2') format('woff2'),
        url('../font/Jost-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ThinItalic.woff2') format('woff2'),
        url('../font/Jost-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-ExtraLight.woff2') format('woff2'),
        url('../font/Karla-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Italic.woff2') format('woff2'),
        url('../font/Karla-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Italic.woff2') format('woff2'),
        url('../font/Karla-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-LightItalic.woff2') format('woff2'),
        url('../font/Karla-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Light.woff2') format('woff2'),
        url('../font/Karla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-BoldItalic.woff2') format('woff2'),
        url('../font/Karla-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Bold.woff2') format('woff2'),
        url('../font/Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Medium.woff2') format('woff2'),
        url('../font/Karla-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Karla-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-ExtraBold.woff2') format('woff2'),
        url('../font/Karla-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Karla-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-MediumItalic.woff2') format('woff2'),
        url('../font/Karla-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-SemiBold.woff2') format('woff2'),
        url('../font/Karla-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Regular.woff2') format('woff2'),
        url('../font/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Karla-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Regular.woff2') format('woff2'),
        url('../font/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


